<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-category-heading" data-cy="CategoryCreateUpdateHeading">Create or edit a Category</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idParent">Id Parent</label>
          <input type="number" class="form-control" name="idParent" id="field_idParent" data-cy="idParent" formControlName="idParent" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="number" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdat">Createdat</label>
          <div class="input-group">
            <input
              id="field_createdat"
              data-cy="createdat"
              type="text"
              class="form-control"
              name="createdat"
              ngbDatepicker
              #createdatDp="ngbDatepicker"
              formControlName="createdat"
            />
            <button type="button" class="btn btn-secondary" (click)="createdatDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_updatedat">Updatedat</label>
          <div class="input-group">
            <input
              id="field_updatedat"
              data-cy="updatedat"
              type="text"
              class="form-control"
              name="updatedat"
              ngbDatepicker
              #updatedatDp="ngbDatepicker"
              formControlName="updatedat"
            />
            <button type="button" class="btn btn-secondary" (click)="updatedatDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
